{% extends "home/index.html" %}
{% load static %}

{% block changingContent %}
    <h1>Sobre mí</h1>
    <div>
        <p>Hola!!! <br><br>
            Mi nombre es maikon Silva  tengo 
 19 anos v estoy aprendiendo a programar. <br>
Me adentre en el mundo de la programacion hace unos anos por unos videos
YouTube y quede fascinado, pero no tenia tiempo para practicarlo ya que estaba estudiando medicina en la  Universidad de Buenos Aires  uba y no me daban los tiempos.
<br>
Hace unos meses casi un año fue cuando me puse las pilas con la programación y me vi unos
videos acerca de python y desarrollo web,
ahí fue cuando decidí inscribirme en este curso y del
aprendi un monton como podran ver
en la página que
astan situados
            </p>
    </div>
{% endblock %}